.btn {
    padding: 12px 30px;
    font-size: .75rem;
    font-weight: 400;
    text-transform: uppercase;
}

.content * {
    width: 100%;
}

.list-group .active {
background-color: #000;
border-color: #000;
}

.tab-nav a {
transition: all 0.25s ease-in-out;
background-color: transparent;
border-radius: 25px;
padding: 10px 25px;
margin-right: 5px;
color: #585757;
cursor: pointer;
border: 1px solid transparent;
text-decoration: none;
}

.tab-nav a:hover,
.tab-nav a.active {
border: 1px solid #4b4a4a;
border-radius: 25px;
color: #4b4a4a;
}

.tab-nav {
text-align: center;
margin: 0 auto;
margin-bottom: 30px;
}

.tab-nav a:focus {
outline: none;
}

@media only screen and (max-width: 580px) {
.tab-nav a {
    padding: 4px 12px;
}
}

input {
    outline: none;
    border: none;
}

button {
    outline: none;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.register-link {
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
}

.register-link a {
    color: #999999;
}

.container-auth {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.wrap-auth {
    width: 390px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    padding: 50px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input {
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.4s;
    background: rgb(211, 211, 211);
}

.focus-input::after {
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
}

.input:focus+.focus-input::after {
    top: -15px;
}

.input:focus+.focus-input::before {
    width: 100%;
}

.container-auth-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrap-auth-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.auth-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #fff;
    top: 0;
    left: -100%;
    transition: all 0.4s;
}

.auth-form-btn {
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-auth-form-btn:hover .auth-form-bgbtn {
    left: 0;
}

@media (max-width: 576px) {
    .wrap-auth {
        padding: 77px 15px 33px 15px;
        width: 100%;
        background: rgb(0, 0, 0);
        border-radius: 0;
        overflow: hidden;
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    }
    section {
        padding: 0 0 15px 0;
    }
    .container-auth {
        padding: 0;
    }
}

.input-group {
    position: relative;
    margin-bottom: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

option {
    font-size: 14px;
}

select, select:focus, select:visited {
    appearance: none;
    border: none;
    background-color: #000;
    width: 100%;
    padding: 0;
    color: rgb(169, 169, 161);
}

.dropdown-toggle {
    border: none;
    outline: none;
}

.navbar-brand {
    width: 105px;
    border: 0;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
}

.navbar {
    background: #242629;
}

.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: "Roboto", sans-serif;
    color: #B1B1B1;
    font-weight: 500;
    line-height: 20px;
}

#footer {
    color: #586069;
    font-size: 12px;
}

#footer-logo {
    font-family: 'Merriweather', serif;
    color: #c6cbd1;
    font-size: 30px;
    text-decoration: none;
    line-height: 15px;
}

#footer-logo:hover {
    color: #959da5;
}

footer a {
    text-decoration: none;
    color: #586069;
}

footer a:hover {
    color: #959da5;
}

@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }
    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.comments {
    border-top: 1px solid #e9ecef;
    padding: 20px;
}

.action-box .form-group:first-child {
width: 80%;
}

.action-box .form-group:nth-child(2) {
width: 18%;
}

.action-box .form-group * {
width: 100%;
}

.comment-list {
padding: 0;
list-style: none;
max-height: 350px;
overflow: auto;
}

.comment-list li {
margin: 0;
margin-top: 10px;
}

.comment-list li > div {
display: table-cell;
}

.comment-image {
width: 30px;
margin-right: 5px;
height: 100%;
float: left;
}

.comment-image img {
width: 100%;
border-radius: 50%;
}

.comment-text p {
font-size: 15px;
margin: 0;
}

.comment-text a {
font-size: 16px;
text-decoration: none;
margin: 0;
}

.sub-text {
color: #aaa;
font-size: 11px;
}

.form-control {
border: none;
}

.profile-page {
    padding-top: 0;
}

.name {
margin-top: 10px;
margin-bottom: 10px;
}

.name h6 {
padding-right: 8px;
font-size: .95rem !important;
font-weight: 500;
font-family: 'Merriweather', serif;
line-height: 1.5em;
text-transform: lowercase;
}

.name a {
font-size: .95rem !important;
}

.profile-page .page-header {
height: 380px;
background-position: center;
}

.page-header {
height: 100vh;
background-size: cover;
margin: 0;
padding: 0;
border: 0;
display: flex;
align-items: center;
}

.main {
background: #FFF;
position: relative;
}

.profile-page .profile {
text-align: center;
}

.profile-page .profile img {
max-width: 160px;
width: 100%;
margin: 0 auto;
-webkit-transform: translate3d(0, -50%, 0);
-moz-transform: translate3d(0, -50%, 0);
-o-transform: translate3d(0, -50%, 0);
-ms-transform: translate3d(0, -50%, 0);
transform: translate3d(0, -50%, 0);
}

.img-raised {
box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.rounded-circle {
border-radius: 50% !important;
}

.img-fluid {
max-width: 100%;
height: auto;
}

.title {
margin-top: 30px;
margin-bottom: 10px;
min-height: 32px;
color: #3C4858;
font-weight: 700;
}

.tab-nav {
margin-top: 5px;
}

.profile-page .profile-tabs {
margin-top: 4.284rem;
}

.profile-page .profile .name {
margin-top: -80px;
}

.page-item.active .page-link {
    background-color: #000;
    border-color: #000;
}

.page-link {
color: #000;
}

.page-link:hover {
color: #000;
}

.login-link {
    text-decoration: none;
    color: #161010;
}

.login-link:hover {
color: #2e3d50;
}

.h7 {
font-size: 0.8rem;
}

.card {
max-width: none;
margin-bottom: 30px;
}

.post-button {
text-decoration: none;
color: #586069;
}

.post-button:hover {
color: #959da5;
}

.post-wrapper {
margin-top: 0.97rem;
}

.dropdown-toggle::after {
content: none;
display: none;
}

.post-link:hover {
cursor: pointer;
}

.dropdown button {
color: #586069;
padding: 0;
}

@media (max-width: 767px) {
.card {
    width: 100%;
}
}

@media (min-width: 768px) {
.card {
    width: 500px;
}
}

.post a h2 {
    font-size: 26px;
    font-weight: 800;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}

.post a {
text-decoration: none;
transition: all .2s;
color: #3C4858;
}

.post a:hover {
color: #000;
cursor: pointer;
}

.post p {
font-size: 18px;
font-family: 'Times New Roman', serif;
margin-top: 0;
color: #868e96;
line-height: 1.5;
margin: 0 0 5px;
}
